USE [MachineMonitoring]
GO
/****** Object:  StoredProcedure [dbo].[RedSecUserBySectionId]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP PROCEDURE [dbo].[RedSecUserBySectionId]
GO
/****** Object:  StoredProcedure [dbo].[RedSecUserByEmployeeId]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP PROCEDURE [dbo].[RedSecUserByEmployeeId]
GO
/****** Object:  StoredProcedure [dbo].[RedMntTransactionUserByTrxId]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP PROCEDURE [dbo].[RedMntTransactionUserByTrxId]
GO
/****** Object:  StoredProcedure [dbo].[RedMntTransactionHeaderPaged]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP PROCEDURE [dbo].[RedMntTransactionHeaderPaged]
GO
/****** Object:  StoredProcedure [dbo].[RedMntTransactionHeaderLastDetail]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP PROCEDURE [dbo].[RedMntTransactionHeaderLastDetail]
GO
/****** Object:  StoredProcedure [dbo].[RedMntTransactionHeaderByTrxId]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP PROCEDURE [dbo].[RedMntTransactionHeaderByTrxId]
GO
/****** Object:  StoredProcedure [dbo].[RedMntTransactionDetailLastDetailByMachineId]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP PROCEDURE [dbo].[RedMntTransactionDetailLastDetailByMachineId]
GO
/****** Object:  StoredProcedure [dbo].[RedMntMachineStatus]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP PROCEDURE [dbo].[RedMntMachineStatus]
GO
/****** Object:  StoredProcedure [dbo].[RedMntMachineLastTransactionByMachineId]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP PROCEDURE [dbo].[RedMntMachineLastTransactionByMachineId]
GO
/****** Object:  StoredProcedure [dbo].[RedMntMachineByMachineId]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP PROCEDURE [dbo].[RedMntMachineByMachineId]
GO
/****** Object:  StoredProcedure [dbo].[RedMntArea]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP PROCEDURE [dbo].[RedMntArea]
GO
/****** Object:  StoredProcedure [dbo].[RedGenTransactionStatus]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP PROCEDURE [dbo].[RedGenTransactionStatus]
GO
/****** Object:  StoredProcedure [dbo].[RedFacTransactionUserByTrxId]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP PROCEDURE [dbo].[RedFacTransactionUserByTrxId]
GO
/****** Object:  StoredProcedure [dbo].[RedFacTransactionHeaderPaged]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP PROCEDURE [dbo].[RedFacTransactionHeaderPaged]
GO
/****** Object:  StoredProcedure [dbo].[RedFacTransactionHeaderLastDetail]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP PROCEDURE [dbo].[RedFacTransactionHeaderLastDetail]
GO
/****** Object:  StoredProcedure [dbo].[RedFacTransactionHeaderByTrxId]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP PROCEDURE [dbo].[RedFacTransactionHeaderByTrxId]
GO
/****** Object:  StoredProcedure [dbo].[RedFacTransactionDetailLastDetailByMachineId]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP PROCEDURE [dbo].[RedFacTransactionDetailLastDetailByMachineId]
GO
/****** Object:  StoredProcedure [dbo].[RedFacMachineStatus]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP PROCEDURE [dbo].[RedFacMachineStatus]
GO
/****** Object:  StoredProcedure [dbo].[RedFacMachineLastTransactionByMachineId]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP PROCEDURE [dbo].[RedFacMachineLastTransactionByMachineId]
GO
/****** Object:  StoredProcedure [dbo].[RedFacMachineByMachineId]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP PROCEDURE [dbo].[RedFacMachineByMachineId]
GO
/****** Object:  StoredProcedure [dbo].[DelMntTransactionUserByUserId]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP PROCEDURE [dbo].[DelMntTransactionUserByUserId]
GO
/****** Object:  StoredProcedure [dbo].[DelFacTransactionUserByUserId]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP PROCEDURE [dbo].[DelFacTransactionUserByUserId]
GO
/****** Object:  StoredProcedure [dbo].[CntMntTransactionUser]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP PROCEDURE [dbo].[CntMntTransactionUser]
GO
/****** Object:  StoredProcedure [dbo].[CntFacTransactionUser]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP PROCEDURE [dbo].[CntFacTransactionUser]
GO
ALTER TABLE [dbo].[SecWorkgroup] DROP CONSTRAINT [FK_SecWorkgroup_SecSection]
GO
ALTER TABLE [dbo].[SecWorkgroup] DROP CONSTRAINT [FK_SecWorkgroup_MntArea]
GO
ALTER TABLE [dbo].[SecUser] DROP CONSTRAINT [FK_SecUser_SecWorkgroup]
GO
ALTER TABLE [dbo].[SecSection] DROP CONSTRAINT [FK_SecSection_SecDepartment]
GO
ALTER TABLE [dbo].[MntTransactionUser] DROP CONSTRAINT [FK_MntTransactionUser_SecUser]
GO
ALTER TABLE [dbo].[MntTransactionUser] DROP CONSTRAINT [FK_MntTransactionUser_MntTransactionHeader]
GO
ALTER TABLE [dbo].[MntTransactionSparePart] DROP CONSTRAINT [FK_MntTransactionSparePart_MntTransactionHeader]
GO
ALTER TABLE [dbo].[MntTransactionMachinePart] DROP CONSTRAINT [FK_MntTransactionMachinePart_MntTransactionHeader]
GO
ALTER TABLE [dbo].[MntTransactionMachinePart] DROP CONSTRAINT [FK_MntTransactionMachinePart_MntMachinePart]
GO
ALTER TABLE [dbo].[MntTransactionHeader] DROP CONSTRAINT [FK_MntTransactionHeader_SecUserManager]
GO
ALTER TABLE [dbo].[MntTransactionHeader] DROP CONSTRAINT [FK_MntTransactionHeader_SecUserEngineer]
GO
ALTER TABLE [dbo].[MntTransactionHeader] DROP CONSTRAINT [FK_MntTransactionHeader_SecUser]
GO
ALTER TABLE [dbo].[MntTransactionHeader] DROP CONSTRAINT [FK_MntTransactionHeader_SecUseEncode]
GO
ALTER TABLE [dbo].[MntTransactionHeader] DROP CONSTRAINT [FK_MntTransactionHeader_MntMachineStatus]
GO
ALTER TABLE [dbo].[MntTransactionHeader] DROP CONSTRAINT [FK_MntTransactionHeader_MntMachine]
GO
ALTER TABLE [dbo].[MntTransactionHeader] DROP CONSTRAINT [FK_MntTransactionHeader_MntArea]
GO
ALTER TABLE [dbo].[MntTransactionHeader] DROP CONSTRAINT [FK_MntTransactionHeader_GenTransactionStatus]
GO
ALTER TABLE [dbo].[MntTransactionHeader] DROP CONSTRAINT [FK_MntTransactionHeader_GenShift]
GO
ALTER TABLE [dbo].[MntTransactionHeader] DROP CONSTRAINT [FK_MntTransactionHeader_GenRoutingStatus]
GO
ALTER TABLE [dbo].[MntTransactionDetail] DROP CONSTRAINT [FK_MntTransactionDetail_SecUser]
GO
ALTER TABLE [dbo].[MntTransactionDetail] DROP CONSTRAINT [FK_MntTransactionDetail_MntTransactionHeader]
GO
ALTER TABLE [dbo].[MntTransactionDetail] DROP CONSTRAINT [FK_MntTransactionDetail_GenShift]
GO
ALTER TABLE [dbo].[MntMachinePart] DROP CONSTRAINT [FK_MntMachinePart_MntMachinePartGroup]
GO
ALTER TABLE [dbo].[MntMachine] DROP CONSTRAINT [FK_MntMachine_MntMachineStatus]
GO
ALTER TABLE [dbo].[MntMachine] DROP CONSTRAINT [FK_MntMachine_MntMachinePartGroup]
GO
ALTER TABLE [dbo].[MntMachine] DROP CONSTRAINT [FK_MntMachine_MntArea]
GO
ALTER TABLE [dbo].[FacTransactionUser] DROP CONSTRAINT [FK_FacTransactionUser_SecUser]
GO
ALTER TABLE [dbo].[FacTransactionUser] DROP CONSTRAINT [FK_FacTransactionUser_FacTransactionHeader]
GO
ALTER TABLE [dbo].[FacTransactionHeader] DROP CONSTRAINT [FK_FacTransactionHeader_SecUserManager]
GO
ALTER TABLE [dbo].[FacTransactionHeader] DROP CONSTRAINT [FK_FacTransactionHeader_SecUserEngineer]
GO
ALTER TABLE [dbo].[FacTransactionHeader] DROP CONSTRAINT [FK_FacTransactionHeader_SecUser]
GO
ALTER TABLE [dbo].[FacTransactionHeader] DROP CONSTRAINT [FK_FacTransactionHeader_SecUseEncode]
GO
ALTER TABLE [dbo].[FacTransactionHeader] DROP CONSTRAINT [FK_FacTransactionHeader_MntMachineStatus]
GO
ALTER TABLE [dbo].[FacTransactionHeader] DROP CONSTRAINT [FK_FacTransactionHeader_GenTransactionStatus]
GO
ALTER TABLE [dbo].[FacTransactionHeader] DROP CONSTRAINT [FK_FacTransactionHeader_GenShift]
GO
ALTER TABLE [dbo].[FacTransactionHeader] DROP CONSTRAINT [FK_FacTransactionHeader_GenRoutingStatus]
GO
ALTER TABLE [dbo].[FacTransactionHeader] DROP CONSTRAINT [FK_FacTransactionHeader_FacMachine]
GO
ALTER TABLE [dbo].[FacTransactionDetail] DROP CONSTRAINT [FK_FacTransactionDetail_SecUser]
GO
ALTER TABLE [dbo].[FacTransactionDetail] DROP CONSTRAINT [FK_FacTransactionDetail_GenShift]
GO
ALTER TABLE [dbo].[FacTransactionDetail] DROP CONSTRAINT [FK_FacTransactionDetail_FacTransactionHeader]
GO
ALTER TABLE [dbo].[FacMachine] DROP CONSTRAINT [FK_FacMachine_FacMachineStatus]
GO
ALTER TABLE [dbo].[FacMachine] DROP CONSTRAINT [FK_FacMachine_FacFloor]
GO
ALTER TABLE [dbo].[FacMachine] DROP CONSTRAINT [FK_FacMachine_FacBrand]
GO
ALTER TABLE [dbo].[SecWorkgroup] DROP CONSTRAINT [DF__SecWorkgr__IsAct__0579B962]
GO
ALTER TABLE [dbo].[SecSection] DROP CONSTRAINT [DF__SecSectio__IsAct__04859529]
GO
ALTER TABLE [dbo].[SecDepartment] DROP CONSTRAINT [DF__SecDepart__IsAct__066DDD9B]
GO
ALTER TABLE [dbo].[MntTransactionHeader] DROP CONSTRAINT [DF__MntTransa__Routi__0B3292B8]
GO
ALTER TABLE [dbo].[MntTransactionHeader] DROP CONSTRAINT [DF__MntTransa__Senio__0A3E6E7F]
GO
ALTER TABLE [dbo].[MntTransactionHeader] DROP CONSTRAINT [DF__MntTransa__Senio__094A4A46]
GO
ALTER TABLE [dbo].[MntTransactionDetail] DROP CONSTRAINT [DF__MntTransa__Elaps__11DF9047]
GO
ALTER TABLE [dbo].[FacTransactionHeader] DROP CONSTRAINT [DF__FacTransa__Routi__24F264BB]
GO
ALTER TABLE [dbo].[FacTransactionHeader] DROP CONSTRAINT [DF__FacTransa__Senio__23FE4082]
GO
ALTER TABLE [dbo].[FacTransactionHeader] DROP CONSTRAINT [DF__FacTransa__Senio__230A1C49]
GO
ALTER TABLE [dbo].[FacTransactionDetail] DROP CONSTRAINT [DF__FacTransa__Elaps__2B9F624A]
GO
/****** Object:  Table [dbo].[SecWorkgroup]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP TABLE [dbo].[SecWorkgroup]
GO
/****** Object:  Table [dbo].[SecSection]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP TABLE [dbo].[SecSection]
GO
/****** Object:  Table [dbo].[SecDepartment]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP TABLE [dbo].[SecDepartment]
GO
/****** Object:  Table [dbo].[MntTransactionSparePart]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP TABLE [dbo].[MntTransactionSparePart]
GO
/****** Object:  Table [dbo].[MntTransactionMachinePart]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP TABLE [dbo].[MntTransactionMachinePart]
GO
/****** Object:  Table [dbo].[MntTransactionDetail]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP TABLE [dbo].[MntTransactionDetail]
GO
/****** Object:  Table [dbo].[MntMachinePartGroup]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP TABLE [dbo].[MntMachinePartGroup]
GO
/****** Object:  Table [dbo].[MntMachinePart]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP TABLE [dbo].[MntMachinePart]
GO
/****** Object:  Table [dbo].[GenTransactionStatus]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP TABLE [dbo].[GenTransactionStatus]
GO
/****** Object:  Table [dbo].[GenShift]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP TABLE [dbo].[GenShift]
GO
/****** Object:  Table [dbo].[GenRoutingStatus]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP TABLE [dbo].[GenRoutingStatus]
GO
/****** Object:  Table [dbo].[FacTransactionDetail]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP TABLE [dbo].[FacTransactionDetail]
GO
/****** Object:  Table [dbo].[FacFloor]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP TABLE [dbo].[FacFloor]
GO
/****** Object:  Table [dbo].[FacBrand]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP TABLE [dbo].[FacBrand]
GO
/****** Object:  View [dbo].[FacActivityReport]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP VIEW [dbo].[FacActivityReport]
GO
/****** Object:  Table [dbo].[FacMachine]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP TABLE [dbo].[FacMachine]
GO
/****** Object:  Table [dbo].[FacTransactionHeader]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP TABLE [dbo].[FacTransactionHeader]
GO
/****** Object:  Table [dbo].[FacMachineStatus]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP TABLE [dbo].[FacMachineStatus]
GO
/****** Object:  Table [dbo].[FacTransactionUser]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP TABLE [dbo].[FacTransactionUser]
GO
/****** Object:  View [dbo].[MntActivityReport]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP VIEW [dbo].[MntActivityReport]
GO
/****** Object:  Table [dbo].[MntTransactionHeader]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP TABLE [dbo].[MntTransactionHeader]
GO
/****** Object:  Table [dbo].[MntMachineStatus]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP TABLE [dbo].[MntMachineStatus]
GO
/****** Object:  Table [dbo].[MntArea]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP TABLE [dbo].[MntArea]
GO
/****** Object:  Table [dbo].[MntTransactionUser]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP TABLE [dbo].[MntTransactionUser]
GO
/****** Object:  Table [dbo].[MntMachine]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP TABLE [dbo].[MntMachine]
GO
/****** Object:  Table [dbo].[SecUser]    Script Date: 03/02/2021 1:35:42 pm ******/
DROP TABLE [dbo].[SecUser]
GO
/****** Object:  Table [dbo].[SecUser]    Script Date: 03/02/2021 1:35:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecUser](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [char](8) NOT NULL,
	[UserName] [varchar](30) NOT NULL,
	[Nickname] [varchar](10) NULL,
	[UserItem] [nvarchar](50) NOT NULL,
	[WorkgroupId] [int] NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[LockId] [timestamp] NOT NULL,
 CONSTRAINT [PK_SecUser] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MntMachine]    Script Date: 03/02/2021 1:35:43 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MntMachine](
	[MachineId] [int] IDENTITY(1,1) NOT NULL,
	[MachineName] [nvarchar](50) NOT NULL,
	[AreaId] [int] NOT NULL,
	[MachineStatusId] [int] NOT NULL,
	[GroupId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[LockId] [timestamp] NOT NULL,
 CONSTRAINT [PK_MntMachine] PRIMARY KEY CLUSTERED 
(
	[MachineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MntTransactionUser]    Script Date: 03/02/2021 1:35:43 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MntTransactionUser](
	[TrxUserId] [int] IDENTITY(1,1) NOT NULL,
	[TrxId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[LockId] [timestamp] NOT NULL,
 CONSTRAINT [PK_MntTransactionUser] PRIMARY KEY CLUSTERED 
(
	[TrxUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MntArea]    Script Date: 03/02/2021 1:35:43 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MntArea](
	[AreaId] [int] IDENTITY(1,1) NOT NULL,
	[ShortName] [char](8) NOT NULL,
	[AreaName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_MntProcess] PRIMARY KEY CLUSTERED 
(
	[AreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MntMachineStatus]    Script Date: 03/02/2021 1:35:43 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MntMachineStatus](
	[MachineStatusId] [int] IDENTITY(1,1) NOT NULL,
	[MachineStatusName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MntMachineStatus] PRIMARY KEY CLUSTERED 
(
	[MachineStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MntTransactionHeader]    Script Date: 03/02/2021 1:35:44 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MntTransactionHeader](
	[TrxId] [int] IDENTITY(1,1) NOT NULL,
	[TrxDate] [datetime2](0) NOT NULL,
	[MachineId] [int] NULL,
	[AreaId] [int] NOT NULL,
	[TotalAccumulatedRuntime] [char](8) NULL,
	[DatetimeStarted] [datetime2](0) NOT NULL,
	[DowntimeMachineStatusId] [int] NULL,
	[DatetimeEnded] [datetime2](0) NULL,
	[TotalAccumulatedDowntime] [char](8) NULL,
	[Problem] [nvarchar](max) NULL,
	[ActionTaken] [nvarchar](max) NULL,
	[Image] [image] NULL,
	[JoNumber] [nchar](15) NULL,
	[JoRequestor] [nvarchar](50) NULL,
	[EncodeUserId] [int] NOT NULL,
	[TrxStatusId] [int] NOT NULL,
	[LockId] [timestamp] NULL,
	[ImageName] [nvarchar](max) NULL,
	[FileAttachment] [varbinary](max) NULL,
	[FileName] [nvarchar](max) NULL,
	[SeniorManagerIsApproved] [bit] NOT NULL,
	[SeniorManagerApprovalDate] [datetime2](0) NULL,
	[SeniorManagerId] [int] NULL,
	[SeniorManagerRemarks] [varchar](max) NULL,
	[SeniorEngineerIsApproved] [bit] NOT NULL,
	[SeniorEngineerApprovalDate] [datetime2](0) NULL,
	[SeniorEngineerId] [int] NULL,
	[SeniorEngineerRemarks] [varchar](max) NULL,
	[UserId] [int] NULL,
	[ShiftId] [char](1) NULL,
	[RoutingStatusId] [int] NOT NULL,
 CONSTRAINT [PK_MntTransactionHeader] PRIMARY KEY CLUSTERED 
(
	[TrxId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[MntActivityReport]    Script Date: 03/02/2021 1:35:44 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[MntActivityReport]
AS

	SELECT 
		MntTransactionHeader.TrxId,
		MntTransactionHeader.TrxDate,
		MntTransactionHeader.UserId,
		MntTransactionHeader.ShiftId,
		MntTransactionHeader.AreaId,
		RTRIM(MntArea.AreaName) AS AreaName,
		MntTransactionHeader.DowntimeMachineStatusId,
		RTRIM(MntMachineStatus.MachineStatusName) AS MachineStatusName,
		MntTransactionHeader.DatetimeStarted,
		MntTransactionHeader.DatetimeEnded,
		MntTransactionHeader.TotalAccumulatedDowntime,
		ISNULL((SELECT RTRIM(SecUser.Nickname) + '/'
				FROM MntTransactionUser INNER JOIN SecUser
				ON MntTransactionUser.UserId = SecUser.UserId
				WHERE TrxId = MntTransactionHeader.TrxId
				GROUP BY RTRIM(SecUser.Nickname)
				FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),'') AS Nickname,
		RTRIM(MntMachine.MachineName) AS MachineName,
		RTRIM(MntTransactionHeader.Problem) AS Problem,
		RTRIM(MntTransactionHeader.ActionTaken) AS ActionTaken,
		MntTransactionHeader.Image,
		RTRIM(MntTransactionHeader.JoNumber) AS JoNumber,
		RTRIM(MntTransactionHeader.JoRequestor) AS JoRequestor,
		MntTransactionHeader.TrxStatusId
	FROM MntTransactionHeader INNER JOIN MntArea
	ON MntTransactionHeader.AreaId = MntArea.AreaId LEFT OUTER JOIN MntMachineStatus
	ON MntTransactionHeader.DowntimeMachineStatusId = MntMachineStatus.MachineStatusId LEFT OUTER JOIN MntMachine
	ON MntTransactionHeader.MachineId = MntMachine.MachineId

GO
/****** Object:  Table [dbo].[FacTransactionUser]    Script Date: 03/02/2021 1:35:44 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacTransactionUser](
	[TrxUserId] [int] IDENTITY(1,1) NOT NULL,
	[TrxId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[LockId] [timestamp] NOT NULL,
 CONSTRAINT [PK_FacTransactionUser] PRIMARY KEY CLUSTERED 
(
	[TrxUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacMachineStatus]    Script Date: 03/02/2021 1:35:44 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacMachineStatus](
	[MachineStatusId] [int] IDENTITY(1,1) NOT NULL,
	[MachineStatusName] [varchar](30) NOT NULL,
	[LockId] [timestamp] NOT NULL,
 CONSTRAINT [PK_FacMachineStatus] PRIMARY KEY CLUSTERED 
(
	[MachineStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacTransactionHeader]    Script Date: 03/02/2021 1:35:44 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacTransactionHeader](
	[TrxId] [int] IDENTITY(1,1) NOT NULL,
	[TrxDate] [datetime2](0) NOT NULL,
	[MachineId] [int] NULL,
	[TotalAccumulatedRuntime] [char](8) NULL,
	[DatetimeStarted] [datetime2](0) NOT NULL,
	[DowntimeMachineStatusId] [int] NULL,
	[DatetimeEnded] [datetime2](0) NULL,
	[TotalAccumulatedDowntime] [char](8) NULL,
	[Problem] [nvarchar](max) NULL,
	[ActionTaken] [nvarchar](max) NULL,
	[Image1] [image] NULL,
	[Image2] [image] NULL,
	[JoNumber] [nchar](15) NULL,
	[JoRequestor] [nvarchar](50) NULL,
	[EncodeUserId] [int] NOT NULL,
	[TrxStatusId] [int] NOT NULL,
	[LockId] [timestamp] NULL,
	[ImageName1] [nvarchar](max) NULL,
	[ImageName2] [nvarchar](max) NULL,
	[FileAttachment] [varbinary](max) NULL,
	[FileName] [nvarchar](max) NULL,
	[SeniorManagerIsApproved] [bit] NOT NULL,
	[SeniorManagerApprovalDate] [datetime2](0) NULL,
	[SeniorManagerId] [int] NULL,
	[SeniorManagerRemarks] [varchar](max) NULL,
	[SeniorEngineerIsApproved] [bit] NOT NULL,
	[SeniorEngineerApprovalDate] [datetime2](0) NULL,
	[SeniorEngineerId] [int] NULL,
	[SeniorEngineerRemarks] [varchar](max) NULL,
	[UserId] [int] NULL,
	[ShiftId] [char](1) NULL,
	[RoutingStatusId] [int] NOT NULL,
 CONSTRAINT [PK_FacTransactionHeader] PRIMARY KEY CLUSTERED 
(
	[TrxId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacMachine]    Script Date: 03/02/2021 1:35:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacMachine](
	[MachineId] [int] IDENTITY(1,1) NOT NULL,
	[MachineCode] [char](10) NOT NULL,
	[MachineName] [varchar](30) NOT NULL,
	[FloorId] [int] NOT NULL,
	[Location] [nvarchar](30) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[BrandId] [int] NULL,
	[MachineStatusId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LockId] [timestamp] NOT NULL,
 CONSTRAINT [PK_FacMachine_1] PRIMARY KEY CLUSTERED 
(
	[MachineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[FacActivityReport]    Script Date: 03/02/2021 1:35:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[FacActivityReport]
AS

	SELECT 
		FacTransactionHeader.TrxId,
		FacTransactionHeader.TrxDate,
		FacTransactionHeader.UserId,
		FacTransactionHeader.ShiftId,
		FacTransactionHeader.DowntimeMachineStatusId,
		RTRIM(FacMachineStatus.MachineStatusName) AS MachineStatusName,
		FacTransactionHeader.DatetimeStarted,
		FacTransactionHeader.DatetimeEnded,
		FacTransactionHeader.TotalAccumulatedDowntime,
		ISNULL((SELECT RTRIM(SecUser.Nickname) + '/'
				FROM FacTransactionUser INNER JOIN SecUser
				ON FacTransactionUser.UserId = SecUser.UserId
				WHERE TrxId = FacTransactionHeader.TrxId
				GROUP BY RTRIM(SecUser.Nickname)
				FOR XML PATH(''), TYPE).value('.[1]','nvarchar(max)'),'') AS Nickname,
		RTRIM(FacMachine.MachineName) AS MachineName,
		RTRIM(FacTransactionHeader.Problem) AS Problem,
		RTRIM(FacTransactionHeader.ActionTaken) AS ActionTaken,
		FacTransactionHeader.Image1,
		FacTransactionHeader.Image2,
		RTRIM(FacTransactionHeader.JoNumber) AS JoNumber,
		RTRIM(FacTransactionHeader.JoRequestor) AS JoRequestor,
		FacTransactionHeader.TrxStatusId
	FROM FacTransactionHeader LEFT OUTER JOIN FacMachineStatus
	ON FacTransactionHeader.DowntimeMachineStatusId = FacMachineStatus.MachineStatusId LEFT OUTER JOIN FacMachine
	ON FacTransactionHeader.MachineId = FacMachine.MachineId

GO
/****** Object:  Table [dbo].[FacBrand]    Script Date: 03/02/2021 1:35:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacBrand](
	[BrandId] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [varchar](25) NOT NULL,
	[LockId] [timestamp] NOT NULL,
 CONSTRAINT [PK_FacBrand] PRIMARY KEY CLUSTERED 
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacFloor]    Script Date: 03/02/2021 1:35:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacFloor](
	[FloorId] [int] IDENTITY(1,1) NOT NULL,
	[FloorName] [varchar](30) NOT NULL,
	[LockId] [timestamp] NOT NULL,
	[ShortName] [varchar](20) NULL,
 CONSTRAINT [PK_FacFloor] PRIMARY KEY CLUSTERED 
(
	[FloorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacTransactionDetail]    Script Date: 03/02/2021 1:35:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacTransactionDetail](
	[TrxDetailId] [int] IDENTITY(1,1) NOT NULL,
	[TrxId] [int] NOT NULL,
	[TrxDate] [datetime2](0) NOT NULL,
	[UserId] [int] NOT NULL,
	[ShiftId] [char](1) NOT NULL,
	[LockId] [timestamp] NOT NULL,
	[TrxFrom] [datetime2](0) NULL,
	[TrxTo] [datetime2](0) NULL,
	[ElapsedTime] [char](8) NULL,
 CONSTRAINT [PK_FacTransactionDetail] PRIMARY KEY CLUSTERED 
(
	[TrxDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GenRoutingStatus]    Script Date: 03/02/2021 1:35:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenRoutingStatus](
	[RoutingStatusId] [int] IDENTITY(1,1) NOT NULL,
	[RoutingStatusName] [varchar](50) NOT NULL,
	[LockId] [timestamp] NOT NULL,
 CONSTRAINT [PK_GenRoutingStatus] PRIMARY KEY CLUSTERED 
(
	[RoutingStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GenShift]    Script Date: 03/02/2021 1:35:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenShift](
	[ShiftId] [char](1) NOT NULL,
	[ShiftName] [char](20) NOT NULL,
 CONSTRAINT [PK_GenShift] PRIMARY KEY CLUSTERED 
(
	[ShiftId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GenTransactionStatus]    Script Date: 03/02/2021 1:35:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenTransactionStatus](
	[TrxStatusId] [int] IDENTITY(1,1) NOT NULL,
	[TrxStatusName] [varchar](10) NOT NULL,
 CONSTRAINT [PK_TransactionStatus] PRIMARY KEY CLUSTERED 
(
	[TrxStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MntMachinePart]    Script Date: 03/02/2021 1:35:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MntMachinePart](
	[MachinePartId] [int] IDENTITY(1,1) NOT NULL,
	[GroupId] [int] NULL,
	[MachinePartName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MntMachinePart] PRIMARY KEY CLUSTERED 
(
	[MachinePartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MntMachinePartGroup]    Script Date: 03/02/2021 1:35:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MntMachinePartGroup](
	[GroupId] [int] NOT NULL,
	[GroupName] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_MntMachinePartGroup] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MntTransactionDetail]    Script Date: 03/02/2021 1:35:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MntTransactionDetail](
	[TrxDetailId] [int] IDENTITY(1,1) NOT NULL,
	[TrxId] [int] NOT NULL,
	[TrxDate] [datetime2](0) NOT NULL,
	[UserId] [int] NOT NULL,
	[ShiftId] [char](1) NOT NULL,
	[LockId] [timestamp] NOT NULL,
	[TrxFrom] [datetime2](0) NULL,
	[TrxTo] [datetime2](0) NULL,
	[ElapsedTime] [char](8) NULL,
 CONSTRAINT [PK_MntTransactionDetail] PRIMARY KEY CLUSTERED 
(
	[TrxDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MntTransactionMachinePart]    Script Date: 03/02/2021 1:35:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MntTransactionMachinePart](
	[TrxMachinePartId] [int] IDENTITY(1,1) NOT NULL,
	[TrxId] [int] NOT NULL,
	[MachinePartId] [int] NULL,
	[LockId] [timestamp] NOT NULL,
 CONSTRAINT [PK_MntTransactionPart] PRIMARY KEY CLUSTERED 
(
	[TrxMachinePartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MntTransactionSparePart]    Script Date: 03/02/2021 1:35:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MntTransactionSparePart](
	[TrxSparePartId] [int] IDENTITY(1,1) NOT NULL,
	[TrxId] [int] NOT NULL,
	[SparePartName] [nvarchar](max) NULL,
	[SparePartNo] [nvarchar](50) NULL,
	[LockId] [timestamp] NOT NULL,
 CONSTRAINT [PK_MntTransactionSparePart] PRIMARY KEY CLUSTERED 
(
	[TrxSparePartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecDepartment]    Script Date: 03/02/2021 1:35:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecDepartment](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[ShortName] [char](10) NOT NULL,
	[DepartmentName] [varchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LockId] [timestamp] NOT NULL,
 CONSTRAINT [PK_SecDepartment] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecSection]    Script Date: 03/02/2021 1:35:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecSection](
	[SectionId] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [varchar](30) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LockId] [timestamp] NOT NULL,
 CONSTRAINT [PK_SecSection] PRIMARY KEY CLUSTERED 
(
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecWorkgroup]    Script Date: 03/02/2021 1:35:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecWorkgroup](
	[WorkgroupId] [int] IDENTITY(1,1) NOT NULL,
	[WorkgroupName] [nvarchar](30) NOT NULL,
	[SectionId] [int] NOT NULL,
	[AreaId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[IsTechnicianManual] [bit] NOT NULL,
	[IsDatetimeManual] [bit] NOT NULL,
	[IsImageRequired] [bit] NOT NULL,
	[IsAllowEdit] [bit] NOT NULL,
	[IsAllowDelete] [bit] NOT NULL,
	[LockId] [timestamp] NOT NULL,
 CONSTRAINT [PK_SecWorkgroup] PRIMARY KEY CLUSTERED 
(
	[WorkgroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FacTransactionDetail] ADD  DEFAULT ('00:00:00') FOR [ElapsedTime]
GO
ALTER TABLE [dbo].[FacTransactionHeader] ADD  DEFAULT ((0)) FOR [SeniorManagerIsApproved]
GO
ALTER TABLE [dbo].[FacTransactionHeader] ADD  DEFAULT ((0)) FOR [SeniorEngineerIsApproved]
GO
ALTER TABLE [dbo].[FacTransactionHeader] ADD  DEFAULT ((4)) FOR [RoutingStatusId]
GO
ALTER TABLE [dbo].[MntTransactionDetail] ADD  DEFAULT ('00:00:00') FOR [ElapsedTime]
GO
ALTER TABLE [dbo].[MntTransactionHeader] ADD  DEFAULT ((0)) FOR [SeniorManagerIsApproved]
GO
ALTER TABLE [dbo].[MntTransactionHeader] ADD  DEFAULT ((0)) FOR [SeniorEngineerIsApproved]
GO
ALTER TABLE [dbo].[MntTransactionHeader] ADD  DEFAULT ((4)) FOR [RoutingStatusId]
GO
ALTER TABLE [dbo].[SecDepartment] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SecSection] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SecWorkgroup] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[FacMachine]  WITH CHECK ADD  CONSTRAINT [FK_FacMachine_FacBrand] FOREIGN KEY([BrandId])
REFERENCES [dbo].[FacBrand] ([BrandId])
GO
ALTER TABLE [dbo].[FacMachine] CHECK CONSTRAINT [FK_FacMachine_FacBrand]
GO
ALTER TABLE [dbo].[FacMachine]  WITH CHECK ADD  CONSTRAINT [FK_FacMachine_FacFloor] FOREIGN KEY([FloorId])
REFERENCES [dbo].[FacFloor] ([FloorId])
GO
ALTER TABLE [dbo].[FacMachine] CHECK CONSTRAINT [FK_FacMachine_FacFloor]
GO
ALTER TABLE [dbo].[FacMachine]  WITH CHECK ADD  CONSTRAINT [FK_FacMachine_FacMachineStatus] FOREIGN KEY([MachineStatusId])
REFERENCES [dbo].[FacMachineStatus] ([MachineStatusId])
GO
ALTER TABLE [dbo].[FacMachine] CHECK CONSTRAINT [FK_FacMachine_FacMachineStatus]
GO
ALTER TABLE [dbo].[FacTransactionDetail]  WITH CHECK ADD  CONSTRAINT [FK_FacTransactionDetail_FacTransactionHeader] FOREIGN KEY([TrxId])
REFERENCES [dbo].[FacTransactionHeader] ([TrxId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FacTransactionDetail] CHECK CONSTRAINT [FK_FacTransactionDetail_FacTransactionHeader]
GO
ALTER TABLE [dbo].[FacTransactionDetail]  WITH CHECK ADD  CONSTRAINT [FK_FacTransactionDetail_GenShift] FOREIGN KEY([ShiftId])
REFERENCES [dbo].[GenShift] ([ShiftId])
GO
ALTER TABLE [dbo].[FacTransactionDetail] CHECK CONSTRAINT [FK_FacTransactionDetail_GenShift]
GO
ALTER TABLE [dbo].[FacTransactionDetail]  WITH CHECK ADD  CONSTRAINT [FK_FacTransactionDetail_SecUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[SecUser] ([UserId])
GO
ALTER TABLE [dbo].[FacTransactionDetail] CHECK CONSTRAINT [FK_FacTransactionDetail_SecUser]
GO
ALTER TABLE [dbo].[FacTransactionHeader]  WITH CHECK ADD  CONSTRAINT [FK_FacTransactionHeader_FacMachine] FOREIGN KEY([MachineId])
REFERENCES [dbo].[FacMachine] ([MachineId])
GO
ALTER TABLE [dbo].[FacTransactionHeader] CHECK CONSTRAINT [FK_FacTransactionHeader_FacMachine]
GO
ALTER TABLE [dbo].[FacTransactionHeader]  WITH CHECK ADD  CONSTRAINT [FK_FacTransactionHeader_GenRoutingStatus] FOREIGN KEY([RoutingStatusId])
REFERENCES [dbo].[GenRoutingStatus] ([RoutingStatusId])
GO
ALTER TABLE [dbo].[FacTransactionHeader] CHECK CONSTRAINT [FK_FacTransactionHeader_GenRoutingStatus]
GO
ALTER TABLE [dbo].[FacTransactionHeader]  WITH CHECK ADD  CONSTRAINT [FK_FacTransactionHeader_GenShift] FOREIGN KEY([ShiftId])
REFERENCES [dbo].[GenShift] ([ShiftId])
GO
ALTER TABLE [dbo].[FacTransactionHeader] CHECK CONSTRAINT [FK_FacTransactionHeader_GenShift]
GO
ALTER TABLE [dbo].[FacTransactionHeader]  WITH CHECK ADD  CONSTRAINT [FK_FacTransactionHeader_GenTransactionStatus] FOREIGN KEY([TrxStatusId])
REFERENCES [dbo].[GenTransactionStatus] ([TrxStatusId])
GO
ALTER TABLE [dbo].[FacTransactionHeader] CHECK CONSTRAINT [FK_FacTransactionHeader_GenTransactionStatus]
GO
ALTER TABLE [dbo].[FacTransactionHeader]  WITH CHECK ADD  CONSTRAINT [FK_FacTransactionHeader_MntMachineStatus] FOREIGN KEY([DowntimeMachineStatusId])
REFERENCES [dbo].[FacMachineStatus] ([MachineStatusId])
GO
ALTER TABLE [dbo].[FacTransactionHeader] CHECK CONSTRAINT [FK_FacTransactionHeader_MntMachineStatus]
GO
ALTER TABLE [dbo].[FacTransactionHeader]  WITH CHECK ADD  CONSTRAINT [FK_FacTransactionHeader_SecUseEncode] FOREIGN KEY([EncodeUserId])
REFERENCES [dbo].[SecUser] ([UserId])
GO
ALTER TABLE [dbo].[FacTransactionHeader] CHECK CONSTRAINT [FK_FacTransactionHeader_SecUseEncode]
GO
ALTER TABLE [dbo].[FacTransactionHeader]  WITH CHECK ADD  CONSTRAINT [FK_FacTransactionHeader_SecUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[SecUser] ([UserId])
GO
ALTER TABLE [dbo].[FacTransactionHeader] CHECK CONSTRAINT [FK_FacTransactionHeader_SecUser]
GO
ALTER TABLE [dbo].[FacTransactionHeader]  WITH CHECK ADD  CONSTRAINT [FK_FacTransactionHeader_SecUserEngineer] FOREIGN KEY([SeniorEngineerId])
REFERENCES [dbo].[SecUser] ([UserId])
GO
ALTER TABLE [dbo].[FacTransactionHeader] CHECK CONSTRAINT [FK_FacTransactionHeader_SecUserEngineer]
GO
ALTER TABLE [dbo].[FacTransactionHeader]  WITH CHECK ADD  CONSTRAINT [FK_FacTransactionHeader_SecUserManager] FOREIGN KEY([SeniorManagerId])
REFERENCES [dbo].[SecUser] ([UserId])
GO
ALTER TABLE [dbo].[FacTransactionHeader] CHECK CONSTRAINT [FK_FacTransactionHeader_SecUserManager]
GO
ALTER TABLE [dbo].[FacTransactionUser]  WITH CHECK ADD  CONSTRAINT [FK_FacTransactionUser_FacTransactionHeader] FOREIGN KEY([TrxId])
REFERENCES [dbo].[FacTransactionHeader] ([TrxId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FacTransactionUser] CHECK CONSTRAINT [FK_FacTransactionUser_FacTransactionHeader]
GO
ALTER TABLE [dbo].[FacTransactionUser]  WITH CHECK ADD  CONSTRAINT [FK_FacTransactionUser_SecUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[SecUser] ([UserId])
GO
ALTER TABLE [dbo].[FacTransactionUser] CHECK CONSTRAINT [FK_FacTransactionUser_SecUser]
GO
ALTER TABLE [dbo].[MntMachine]  WITH CHECK ADD  CONSTRAINT [FK_MntMachine_MntArea] FOREIGN KEY([AreaId])
REFERENCES [dbo].[MntArea] ([AreaId])
GO
ALTER TABLE [dbo].[MntMachine] CHECK CONSTRAINT [FK_MntMachine_MntArea]
GO
ALTER TABLE [dbo].[MntMachine]  WITH CHECK ADD  CONSTRAINT [FK_MntMachine_MntMachinePartGroup] FOREIGN KEY([GroupId])
REFERENCES [dbo].[MntMachinePartGroup] ([GroupId])
GO
ALTER TABLE [dbo].[MntMachine] CHECK CONSTRAINT [FK_MntMachine_MntMachinePartGroup]
GO
ALTER TABLE [dbo].[MntMachine]  WITH CHECK ADD  CONSTRAINT [FK_MntMachine_MntMachineStatus] FOREIGN KEY([MachineStatusId])
REFERENCES [dbo].[MntMachineStatus] ([MachineStatusId])
GO
ALTER TABLE [dbo].[MntMachine] CHECK CONSTRAINT [FK_MntMachine_MntMachineStatus]
GO
ALTER TABLE [dbo].[MntMachinePart]  WITH CHECK ADD  CONSTRAINT [FK_MntMachinePart_MntMachinePartGroup] FOREIGN KEY([GroupId])
REFERENCES [dbo].[MntMachinePartGroup] ([GroupId])
GO
ALTER TABLE [dbo].[MntMachinePart] CHECK CONSTRAINT [FK_MntMachinePart_MntMachinePartGroup]
GO
ALTER TABLE [dbo].[MntTransactionDetail]  WITH CHECK ADD  CONSTRAINT [FK_MntTransactionDetail_GenShift] FOREIGN KEY([ShiftId])
REFERENCES [dbo].[GenShift] ([ShiftId])
GO
ALTER TABLE [dbo].[MntTransactionDetail] CHECK CONSTRAINT [FK_MntTransactionDetail_GenShift]
GO
ALTER TABLE [dbo].[MntTransactionDetail]  WITH CHECK ADD  CONSTRAINT [FK_MntTransactionDetail_MntTransactionHeader] FOREIGN KEY([TrxId])
REFERENCES [dbo].[MntTransactionHeader] ([TrxId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MntTransactionDetail] CHECK CONSTRAINT [FK_MntTransactionDetail_MntTransactionHeader]
GO
ALTER TABLE [dbo].[MntTransactionDetail]  WITH CHECK ADD  CONSTRAINT [FK_MntTransactionDetail_SecUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[SecUser] ([UserId])
GO
ALTER TABLE [dbo].[MntTransactionDetail] CHECK CONSTRAINT [FK_MntTransactionDetail_SecUser]
GO
ALTER TABLE [dbo].[MntTransactionHeader]  WITH CHECK ADD  CONSTRAINT [FK_MntTransactionHeader_GenRoutingStatus] FOREIGN KEY([RoutingStatusId])
REFERENCES [dbo].[GenRoutingStatus] ([RoutingStatusId])
GO
ALTER TABLE [dbo].[MntTransactionHeader] CHECK CONSTRAINT [FK_MntTransactionHeader_GenRoutingStatus]
GO
ALTER TABLE [dbo].[MntTransactionHeader]  WITH CHECK ADD  CONSTRAINT [FK_MntTransactionHeader_GenShift] FOREIGN KEY([ShiftId])
REFERENCES [dbo].[GenShift] ([ShiftId])
GO
ALTER TABLE [dbo].[MntTransactionHeader] CHECK CONSTRAINT [FK_MntTransactionHeader_GenShift]
GO
ALTER TABLE [dbo].[MntTransactionHeader]  WITH CHECK ADD  CONSTRAINT [FK_MntTransactionHeader_GenTransactionStatus] FOREIGN KEY([TrxStatusId])
REFERENCES [dbo].[GenTransactionStatus] ([TrxStatusId])
GO
ALTER TABLE [dbo].[MntTransactionHeader] CHECK CONSTRAINT [FK_MntTransactionHeader_GenTransactionStatus]
GO
ALTER TABLE [dbo].[MntTransactionHeader]  WITH CHECK ADD  CONSTRAINT [FK_MntTransactionHeader_MntArea] FOREIGN KEY([AreaId])
REFERENCES [dbo].[MntArea] ([AreaId])
GO
ALTER TABLE [dbo].[MntTransactionHeader] CHECK CONSTRAINT [FK_MntTransactionHeader_MntArea]
GO
ALTER TABLE [dbo].[MntTransactionHeader]  WITH CHECK ADD  CONSTRAINT [FK_MntTransactionHeader_MntMachine] FOREIGN KEY([MachineId])
REFERENCES [dbo].[MntMachine] ([MachineId])
GO
ALTER TABLE [dbo].[MntTransactionHeader] CHECK CONSTRAINT [FK_MntTransactionHeader_MntMachine]
GO
ALTER TABLE [dbo].[MntTransactionHeader]  WITH CHECK ADD  CONSTRAINT [FK_MntTransactionHeader_MntMachineStatus] FOREIGN KEY([DowntimeMachineStatusId])
REFERENCES [dbo].[MntMachineStatus] ([MachineStatusId])
GO
ALTER TABLE [dbo].[MntTransactionHeader] CHECK CONSTRAINT [FK_MntTransactionHeader_MntMachineStatus]
GO
ALTER TABLE [dbo].[MntTransactionHeader]  WITH CHECK ADD  CONSTRAINT [FK_MntTransactionHeader_SecUseEncode] FOREIGN KEY([EncodeUserId])
REFERENCES [dbo].[SecUser] ([UserId])
GO
ALTER TABLE [dbo].[MntTransactionHeader] CHECK CONSTRAINT [FK_MntTransactionHeader_SecUseEncode]
GO
ALTER TABLE [dbo].[MntTransactionHeader]  WITH CHECK ADD  CONSTRAINT [FK_MntTransactionHeader_SecUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[SecUser] ([UserId])
GO
ALTER TABLE [dbo].[MntTransactionHeader] CHECK CONSTRAINT [FK_MntTransactionHeader_SecUser]
GO
ALTER TABLE [dbo].[MntTransactionHeader]  WITH CHECK ADD  CONSTRAINT [FK_MntTransactionHeader_SecUserEngineer] FOREIGN KEY([SeniorEngineerId])
REFERENCES [dbo].[SecUser] ([UserId])
GO
ALTER TABLE [dbo].[MntTransactionHeader] CHECK CONSTRAINT [FK_MntTransactionHeader_SecUserEngineer]
GO
ALTER TABLE [dbo].[MntTransactionHeader]  WITH CHECK ADD  CONSTRAINT [FK_MntTransactionHeader_SecUserManager] FOREIGN KEY([SeniorManagerId])
REFERENCES [dbo].[SecUser] ([UserId])
GO
ALTER TABLE [dbo].[MntTransactionHeader] CHECK CONSTRAINT [FK_MntTransactionHeader_SecUserManager]
GO
ALTER TABLE [dbo].[MntTransactionMachinePart]  WITH CHECK ADD  CONSTRAINT [FK_MntTransactionMachinePart_MntMachinePart] FOREIGN KEY([MachinePartId])
REFERENCES [dbo].[MntMachinePart] ([MachinePartId])
GO
ALTER TABLE [dbo].[MntTransactionMachinePart] CHECK CONSTRAINT [FK_MntTransactionMachinePart_MntMachinePart]
GO
ALTER TABLE [dbo].[MntTransactionMachinePart]  WITH CHECK ADD  CONSTRAINT [FK_MntTransactionMachinePart_MntTransactionHeader] FOREIGN KEY([TrxId])
REFERENCES [dbo].[MntTransactionHeader] ([TrxId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MntTransactionMachinePart] CHECK CONSTRAINT [FK_MntTransactionMachinePart_MntTransactionHeader]
GO
ALTER TABLE [dbo].[MntTransactionSparePart]  WITH CHECK ADD  CONSTRAINT [FK_MntTransactionSparePart_MntTransactionHeader] FOREIGN KEY([TrxId])
REFERENCES [dbo].[MntTransactionHeader] ([TrxId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MntTransactionSparePart] CHECK CONSTRAINT [FK_MntTransactionSparePart_MntTransactionHeader]
GO
ALTER TABLE [dbo].[MntTransactionUser]  WITH CHECK ADD  CONSTRAINT [FK_MntTransactionUser_MntTransactionHeader] FOREIGN KEY([TrxId])
REFERENCES [dbo].[MntTransactionHeader] ([TrxId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MntTransactionUser] CHECK CONSTRAINT [FK_MntTransactionUser_MntTransactionHeader]
GO
ALTER TABLE [dbo].[MntTransactionUser]  WITH CHECK ADD  CONSTRAINT [FK_MntTransactionUser_SecUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[SecUser] ([UserId])
GO
ALTER TABLE [dbo].[MntTransactionUser] CHECK CONSTRAINT [FK_MntTransactionUser_SecUser]
GO
ALTER TABLE [dbo].[SecSection]  WITH CHECK ADD  CONSTRAINT [FK_SecSection_SecDepartment] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[SecDepartment] ([DepartmentId])
GO
ALTER TABLE [dbo].[SecSection] CHECK CONSTRAINT [FK_SecSection_SecDepartment]
GO
ALTER TABLE [dbo].[SecUser]  WITH CHECK ADD  CONSTRAINT [FK_SecUser_SecWorkgroup] FOREIGN KEY([WorkgroupId])
REFERENCES [dbo].[SecWorkgroup] ([WorkgroupId])
GO
ALTER TABLE [dbo].[SecUser] CHECK CONSTRAINT [FK_SecUser_SecWorkgroup]
GO
ALTER TABLE [dbo].[SecWorkgroup]  WITH CHECK ADD  CONSTRAINT [FK_SecWorkgroup_MntArea] FOREIGN KEY([AreaId])
REFERENCES [dbo].[MntArea] ([AreaId])
GO
ALTER TABLE [dbo].[SecWorkgroup] CHECK CONSTRAINT [FK_SecWorkgroup_MntArea]
GO
ALTER TABLE [dbo].[SecWorkgroup]  WITH CHECK ADD  CONSTRAINT [FK_SecWorkgroup_SecSection] FOREIGN KEY([SectionId])
REFERENCES [dbo].[SecSection] ([SectionId])
GO
ALTER TABLE [dbo].[SecWorkgroup] CHECK CONSTRAINT [FK_SecWorkgroup_SecSection]
GO
/****** Object:  StoredProcedure [dbo].[CntFacTransactionUser]    Script Date: 03/02/2021 1:35:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CntFacTransactionUser]
	@TrxId int,
	@UserId int
AS
BEGIN
SET NOCOUNT ON;

	SELECT COUNT(*) AS TrxCount
	FROM FacTransactionUser
	WHERE TrxId = @TrxId AND
		  UserId = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[CntMntTransactionUser]    Script Date: 03/02/2021 1:35:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CntMntTransactionUser]
	@TrxId int,
	@UserId int
AS
BEGIN
SET NOCOUNT ON;

	SELECT COUNT(*) AS TrxCount
	FROM MntTransactionUser
	WHERE TrxId = @TrxId AND
		  UserId = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[DelFacTransactionUserByUserId]    Script Date: 03/02/2021 1:35:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DelFacTransactionUserByUserId]
	@TrxId int,
	@UserId int
AS
BEGIN
SET NOCOUNT ON;

	DELETE FROM FacTransactionUser
	WHERE TrxId = @TrxId AND
		  UserId = @UserId

END
GO
/****** Object:  StoredProcedure [dbo].[DelMntTransactionUserByUserId]    Script Date: 03/02/2021 1:35:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DelMntTransactionUserByUserId]
	@TrxId int,
	@UserId int
AS
BEGIN
SET NOCOUNT ON;

	DELETE FROM MntTransactionUser
	WHERE TrxId = @TrxId AND
		  UserId = @UserId

END
GO
/****** Object:  StoredProcedure [dbo].[RedFacMachineByMachineId]    Script Date: 03/02/2021 1:35:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RedFacMachineByMachineId]
	@MachineId int = NULL
AS
BEGIN
SET NOCOUNT ON;
	
	IF @MachineId IS NULL
		SELECT 
			FacMachine.MachineId,
			RTRIM(FacMachine.MachineCode) AS MachineCode,
			RTRIM(FacMachine.MachineName) AS MachineName,
			FacFloor.FloorId,
			RTRIM(FacFloor.FloorName) AS FloorName,
			RTRIM(FacFloor.ShortName) AS ShortName,
			RTRIM(FacMachine.Location) AS Location,
			RTRIM(FacMachine.Description) AS Description,
			FacMachine.BrandId,
			RTRIM(FacBrand.BrandName) AS BrandName,
			FacMachineStatus.MachineStatusId,
			RTRIM(FacMachineStatus.MachineStatusName) AS MachineStatusName,
			FacMachine.IsActive
		FROM FacMachine INNER JOIN FacFloor
		ON FacMachine.FloorId = FacFloor.FloorId INNER JOIN FacMachineStatus
		ON FacMachine.MachineStatusId = FacMachineStatus.MachineStatusId LEFT OUTER JOIN FacBrand
		ON FacMachine.BrandId = FacBrand.BrandId

	ELSE
		SELECT 
			FacMachine.MachineId,
			RTRIM(FacMachine.MachineCode) AS MachineCode,
			RTRIM(FacMachine.MachineName) AS MachineName,
			FacFloor.FloorId,
			RTRIM(FacFloor.FloorName) AS FloorName,
			RTRIM(FacFloor.ShortName) AS ShortName,
			RTRIM(FacMachine.Location) AS Location,
			RTRIM(FacMachine.Description) AS Description,
			FacMachine.BrandId,
			RTRIM(FacBrand.BrandName) AS BrandName,
			FacMachineStatus.MachineStatusId,
			RTRIM(FacMachineStatus.MachineStatusName) AS MachineStatusName,
			FacMachine.IsActive
		FROM FacMachine INNER JOIN FacFloor
		ON FacMachine.FloorId = FacFloor.FloorId INNER JOIN FacMachineStatus
		ON FacMachine.MachineStatusId = FacMachineStatus.MachineStatusId LEFT OUTER JOIN FacBrand
		ON FacMachine.BrandId = FacBrand.BrandId
		WHERE FacMachine.MachineId = @MachineId

END
GO
/****** Object:  StoredProcedure [dbo].[RedFacMachineLastTransactionByMachineId]    Script Date: 03/02/2021 1:35:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RedFacMachineLastTransactionByMachineId]
	@MachineId int = NULL
AS
BEGIN
SET NOCOUNT ON;

	IF @MachineId IS NULL
		SELECT TOP 1 WITH TIES
				FacMachine.MachineId,
				RTRIM(FacMachine.MachineCode) AS MachineCode,
				RTRIM(FacMachine.MachineName) AS MachineName,
				RTRIM(FacMachine.Location) AS Location,
				RTRIM(FacMachine.Description) AS Description,
				FacMachine.BrandId,
				FacMachine.MachineStatusId,
				FacMachine.FloorId,
				FacMachine.IsActive,
				FacTransactionDetail.TrxTo
		FROM FacMachine LEFT OUTER JOIN FacTransactionHeader
		ON FacMachine.MachineId = FacTransactionHeader.MachineId INNER JOIN FacTransactionDetail
		ON FacTransactionHeader.TrxId = FacTransactionDetail.TrxId
		ORDER BY ROW_NUMBER() OVER (PARTITION BY FacMachine.MachineId ORDER BY FacTransactionDetail.TrxTo DESC)
	ELSE
		SELECT TOP 1 WITH TIES
				FacMachine.MachineId,
				RTRIM(FacMachine.MachineCode) AS MachineCode,
				RTRIM(FacMachine.MachineName) AS MachineName,
				RTRIM(FacMachine.Location) AS Location,
				RTRIM(FacMachine.Description) AS Description,
				FacMachine.BrandId,
				FacMachine.MachineStatusId,
				FacMachine.FloorId,
				FacMachine.IsActive,
				FacTransactionDetail.TrxTo
		FROM FacMachine LEFT OUTER JOIN FacTransactionHeader
		ON FacMachine.MachineId = FacTransactionHeader.MachineId INNER JOIN FacTransactionDetail
		ON FacTransactionHeader.TrxId = FacTransactionDetail.TrxId
		WHERE FacMachine.MachineId = @MachineId
		ORDER BY ROW_NUMBER() OVER (PARTITION BY FacMachine.MachineId ORDER BY FacTransactionDetail.TrxTo DESC)

END
GO
/****** Object:  StoredProcedure [dbo].[RedFacMachineStatus]    Script Date: 03/02/2021 1:35:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RedFacMachineStatus]
	@MachineStatusId int = NULL
AS
BEGIN
SET NOCOUNT ON;

	IF @MachineStatusId IS NULL
		SELECT MachineStatusId,
			   RTRIM(MachineStatusName) AS MachineStatusName
		FROM FacMachineStatus
	ELSE
		SELECT MachineStatusId,
			   RTRIM(MachineStatusName) AS MachineStatusName
		FROM FacMachineStatus
		WHERE MachineStatusId <> @MachineStatusId
	END

GO
/****** Object:  StoredProcedure [dbo].[RedFacTransactionDetailLastDetailByMachineId]    Script Date: 03/02/2021 1:35:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RedFacTransactionDetailLastDetailByMachineId]
	@MachineId int
AS
BEGIN
SET NOCOUNT ON;

	SELECT TOP 1 FacTransactionDetail.*
	FROM FacTransactionDetail INNER JOIN FacTransactionHeader
	ON FacTransactionDetail.TrxId = FacTransactionHeader.TrxId
	WHERE FacTransactionHeader.MachineId = @MachineId
	ORDER BY FacTransactionDetail.TrxTo DESC

END
GO
/****** Object:  StoredProcedure [dbo].[RedFacTransactionHeaderByTrxId]    Script Date: 03/02/2021 1:35:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RedFacTransactionHeaderByTrxId]
	@TrxId int = NULL
AS
BEGIN
SET NOCOUNT ON;

	IF @TrxId IS NULL
		SELECT 
			FacTransactionHeader.TrxId,
			FacTransactionHeader.TrxDate,
			FacTransactionHeader.MachineId,
			RTRIM(SecUser.Nickname) AS Nickname,
			FacTransactionHeader.ShiftId,
			RTRIM(FacMachine.MachineName) AS MachineName,
			FacTransactionHeader.DatetimeStarted,
			FacTransactionHeader.DatetimeEnded,
			(CASE WHEN FacTransactionHeader. MachineId IS NULL THEN RTRIM(FacTransactionHeader.ActionTaken)
				  ELSE (SELECT RTRIM(MachineStatusName) FROM MntMachineStatus WHERE MachineStatusId =  FacTransactionHeader.DowntimeMachineStatusId)END) AS Activity,
			FacTransactionHeader.TotalAccumulatedDowntime,
			FacTransactionHeader.TrxStatusId,
			RTRIM(GenTransactionStatus.TrxStatusName) AS TrxStatusName,
			FacTransactionHeader.SeniorManagerIsApproved,
			FacTransactionHeader.SeniorEngineerIsApproved,
			FacTransactionHeader.EncodeUserId,
			FacTransactionHeader.RoutingStatusId,
			FacTransactionHeader.LockId
		FROM FacTransactionHeader LEFT OUTER JOIN FacMachine
		ON FacTransactionHeader.MachineId = FacMachine.MachineId LEFT OUTER JOIN FacMachineStatus
		ON FacMachine.MachineStatusId = FacMachineStatus.MachineStatusId INNER JOIN SecUser
		ON FacTransactionHeader.UserId = SecUser.UserId INNER JOIN GenTransactionStatus
		ON FacTransactionHeader.TrxStatusId = GenTransactionStatus.TrxStatusId

	ELSE
		SELECT 
			FacTransactionHeader.TrxId,
			FacTransactionHeader.TrxDate,
			FacTransactionHeader.MachineId,
			RTRIM(SecUser.Nickname) AS Nickname,
			FacTransactionHeader.ShiftId,
			RTRIM(FacMachine.MachineName) AS MachineName,
			FacTransactionHeader.DatetimeStarted,
			FacTransactionHeader.DatetimeEnded,
			(CASE WHEN FacTransactionHeader. MachineId IS NULL THEN RTRIM(FacTransactionHeader.ActionTaken)
				  ELSE (SELECT RTRIM(MachineStatusName) FROM MntMachineStatus WHERE MachineStatusId =  FacTransactionHeader.DowntimeMachineStatusId)END) AS Activity,
			FacTransactionHeader.TotalAccumulatedDowntime,
			FacTransactionHeader.TrxStatusId,
			RTRIM(GenTransactionStatus.TrxStatusName) AS TrxStatusName,
			FacTransactionHeader.SeniorManagerIsApproved,
			FacTransactionHeader.SeniorEngineerIsApproved,
			FacTransactionHeader.EncodeUserId,
			FacTransactionHeader.RoutingStatusId,
			FacTransactionHeader.LockId
		FROM FacTransactionHeader LEFT OUTER JOIN FacMachine
		ON FacTransactionHeader.MachineId = FacMachine.MachineId LEFT OUTER JOIN FacMachineStatus
		ON FacMachine.MachineStatusId = FacMachineStatus.MachineStatusId INNER JOIN SecUser
		ON FacTransactionHeader.UserId = SecUser.UserId INNER JOIN GenTransactionStatus
		ON FacTransactionHeader.TrxStatusId = GenTransactionStatus.TrxStatusId
		WHERE FacTransactionHeader.TrxId = @TrxId

END
GO
/****** Object:  StoredProcedure [dbo].[RedFacTransactionHeaderLastDetail]    Script Date: 03/02/2021 1:35:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RedFacTransactionHeaderLastDetail]
	@MachineId int = NULL
AS
BEGIN
SET NOCOUNT ON;

	IF @MachineId IS NULL
		SELECT TOP 1 WITH TIES
			   FacTransactionHeader.TrxId,
			   FacTransactionHeader.MachineId,
			   FacTransactionHeader.DatetimeStarted,
			   FacTransactionDetail.TrxDate,
			   FacTransactionDetail.TrxTo,
			   FacTransactionDetail.UserId,
			   FacTransactionDetail.ShiftId,
			   FacTransactionHeader.SeniorManagerIsApproved,
			   FacTransactionHeader.SeniorEngineerIsApproved,
			   FacTransactionHeader.EncodeUserId,
			   FacTransactionHeader.TrxStatusId,
			   FacTransactionHeader.RoutingStatusId,
			   (CASE WHEN FacTransactionHeader.MachineId IS NULL THEN ISNULL(RTRIM(FacTransactionHeader.ActionTaken), NULL)
					 ELSE (SELECT ISNULL(RTRIM(MachineStatusName), NULL) FROM MntMachineStatus WHERE MachineStatusId = FacTransactionHeader.DowntimeMachineStatusId)
				END) AS Activity
		FROM FacTransactionHeader INNER JOIN FacTransactionDetail
		ON FacTransactionHeader.TrxId = FacTransactionDetail.TrxId
		ORDER BY ROW_NUMBER() OVER (PARTITION BY FacTransactionHeader.TrxId ORDER BY FacTransactionDetail.TrxTo DESC)
	ELSE
		SELECT TOP 1 WITH TIES
			   FacTransactionHeader.TrxId,
			   FacTransactionHeader.MachineId,
			   FacTransactionHeader.DatetimeStarted,
			   FacTransactionDetail.TrxDate,
			   FacTransactionDetail.TrxTo,
			   FacTransactionDetail.UserId,
			   FacTransactionDetail.ShiftId,
			   FacTransactionHeader.SeniorManagerIsApproved,
			   FacTransactionHeader.SeniorEngineerIsApproved,
			   FacTransactionHeader.EncodeUserId,
			   FacTransactionHeader.TrxStatusId,
			   FacTransactionHeader.RoutingStatusId,
			   (CASE WHEN FacTransactionHeader.MachineId IS NULL THEN ISNULL(RTRIM(FacTransactionHeader.ActionTaken), NULL)
					 ELSE (SELECT ISNULL(RTRIM(MachineStatusName), NULL) FROM MntMachineStatus WHERE MachineStatusId = FacTransactionHeader.DowntimeMachineStatusId)
				END) AS Activity
		FROM FacTransactionHeader INNER JOIN FacTransactionDetail
		ON FacTransactionHeader.TrxId = FacTransactionDetail.TrxId
		WHERE FacTransactionHeader.MachineId = @MachineId
		ORDER BY ROW_NUMBER() OVER (PARTITION BY FacTransactionHeader.TrxId ORDER BY FacTransactionDetail.TrxTo DESC)

END
GO
/****** Object:  StoredProcedure [dbo].[RedFacTransactionHeaderPaged]    Script Date: 03/02/2021 1:35:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RedFacTransactionHeaderPaged]
	   @PageIndex INT = 1,
	   @PageSize INT = 10,
	   @RecordCount INT OUTPUT

AS
BEGIN
SET NOCOUNT ON;

	SELECT ROW_NUMBER() OVER
      (ORDER BY TrxId DESC)AS RowNumber
		  ,[TrxId]
		  ,[TrxDate]
		  ,[MachineId]
		  ,[TotalAccumulatedRuntime]
		  ,[DatetimeStarted]
		  ,[DowntimeMachineStatusId]
		  ,[DatetimeEnded]
		  ,[TotalAccumulatedDowntime]
		  ,[Problem]
		  ,[ActionTaken]
		  ,[Image1]
		  ,[ImageName1]
		  ,[Image2]
		  ,[ImageName2]
		  ,[FileAttachment]
		  ,[FileName]
		  ,[JoNumber]
		  ,[JoRequestor]
		  ,[SeniorManagerIsApproved]
		  ,[SeniorManagerApprovalDate]
		  ,[SeniorManagerId]
		  ,[SeniorManagerRemarks]
		  ,[SeniorEngineerIsApproved]
		  ,[SeniorEngineerApprovalDate]
		  ,[SeniorEngineerId]
		  ,[SeniorEngineerRemarks]
		  ,[UserId]
		  ,[ShiftId]
		  ,[EncodeUserId]
		  ,[TrxStatusId]
		  ,[RoutingStatusId]
		  ,[LockId]
       INTO #Results
      FROM FacTransactionHeader

	  SELECT @RecordCount = COUNT(*)
      FROM #Results
         
      SELECT 
			[TrxId]
		  ,[TrxDate]
		  ,[MachineId]
		  ,[TotalAccumulatedRuntime]
		  ,[DatetimeStarted]
		  ,[DowntimeMachineStatusId]
		  ,[DatetimeEnded]
		  ,[TotalAccumulatedDowntime]
		  ,[Problem]
		  ,[ActionTaken]
		  ,[Image1]
		  ,[ImageName1]
		  ,[Image2]
		  ,[ImageName2]
		  ,[FileAttachment]
		  ,[FileName]
		  ,[JoNumber]
		  ,[JoRequestor]
		  ,[SeniorManagerIsApproved]
		  ,[SeniorManagerApprovalDate]
		  ,[SeniorManagerId]
		  ,[SeniorManagerRemarks]
		  ,[SeniorEngineerIsApproved]
		  ,[SeniorEngineerApprovalDate]
		  ,[SeniorEngineerId]
		  ,[SeniorEngineerRemarks]
		  ,[UserId]
		  ,[ShiftId]
		  ,[EncodeUserId]
		  ,[TrxStatusId]
		  ,[RoutingStatusId]
		  ,[LockId] 
      FROM #Results
      WHERE RowNumber BETWEEN(@PageIndex -1) * @PageSize + 1 AND(((@PageIndex -1) * @PageSize + 1) + @PageSize) - 1
	  ORDER BY #Results.TrxId DESC
   
      DROP TABLE #Results
END
GO
/****** Object:  StoredProcedure [dbo].[RedFacTransactionUserByTrxId]    Script Date: 03/02/2021 1:35:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RedFacTransactionUserByTrxId]
	@TrxId int
AS
BEGIN
	SELECT TrxUserId,
		   TrxId,
		   UserId
	FROM FacTransactionUser
	WHERE TrxId = @TrxId
END
GO
/****** Object:  StoredProcedure [dbo].[RedGenTransactionStatus]    Script Date: 03/02/2021 1:35:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RedGenTransactionStatus]
AS
BEGIN
SET NOCOUNT ON;

	SELECT TrxStatusId,
		   RTRIM(TrxStatusName) AS TrxStatusName
	FROM GenTransactionStatus

END
GO
/****** Object:  StoredProcedure [dbo].[RedMntArea]    Script Date: 03/02/2021 1:35:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RedMntArea]
AS
BEGIN

	SELECT AreaId,
		   RTRIM(ShortName) AS ShortName,
		   RTRIM(AreaName) AS AreaName
	FROM MntArea

END
GO
/****** Object:  StoredProcedure [dbo].[RedMntMachineByMachineId]    Script Date: 03/02/2021 1:35:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RedMntMachineByMachineId]
	@MachineId int = NULL
AS
BEGIN
SET NOCOUNT ON;
	
IF @MachineId IS NULL
	SELECT 
		MntMachine.MachineId,
		RTRIM(MntMachine.MachineName) AS MachineName,
		MntArea.AreaId,
		RTRIM(MntArea.AreaName) AS AreaName,
		MntMachineStatus.MachineStatusId,
		RTRIM(MntMachineStatus.MachineStatusName) AS MachineStatusName,
		MntMachine.GroupId,
		RTRIM(MntMachinePartGroup.GroupName) AS MachinePartGroupName,
		MntMachine.IsActive
	FROM MntMachine INNER JOIN MntArea
	ON MntMachine.AreaId = MntArea.AreaId INNER JOIN MntMachineStatus
	ON MntMachine.MachineStatusId = MntMachineStatus.MachineStatusId LEFT OUTER JOIN MntMachinePartGroup
	ON MntMachine.GroupId = MntMachinePartGroup.GroupId

ELSE
	SELECT 
		MntMachine.MachineId,
		RTRIM(MntMachine.MachineName) AS MachineName,
		MntArea.AreaId,
		RTRIM(MntArea.AreaName) AS AreaName,
		MntMachineStatus.MachineStatusId,
		RTRIM(MntMachineStatus.MachineStatusName) AS MachineStatusName,
		MntMachine.GroupId,
		RTRIM(MntMachinePartGroup.GroupName) AS MachinePartGroupName,
		MntMachine.IsActive
	FROM MntMachine INNER JOIN MntArea
	ON MntMachine.AreaId = MntArea.AreaId INNER JOIN MntMachineStatus
	ON MntMachine.MachineStatusId = MntMachineStatus.MachineStatusId LEFT OUTER JOIN MntMachinePartGroup
	ON MntMachine.GroupId = MntMachinePartGroup.GroupId
	WHERE MntMachine.MachineId = @MachineId

END
GO
/****** Object:  StoredProcedure [dbo].[RedMntMachineLastTransactionByMachineId]    Script Date: 03/02/2021 1:35:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RedMntMachineLastTransactionByMachineId]
	@MachineId int = NULL
AS
BEGIN
SET NOCOUNT ON;

	IF @MachineId IS NULL
		SELECT TOP 1 WITH TIES
				MntMachine.MachineId,
				RTRIM(MntMachine.MachineName) AS MachineName,
				MntMachine.MachineStatusId,
				MntMachine.AreaId,
				MntMachine.IsActive,
				MntTransactionDetail.TrxTo
		FROM MntMachine LEFT OUTER JOIN MntTransactionHeader
		ON MntMachine.MachineId = MntTransactionHeader.MachineId INNER JOIN MntTransactionDetail
		ON MntTransactionHeader.TrxId = MntTransactionDetail.TrxId
		ORDER BY ROW_NUMBER() OVER (PARTITION BY MntMachine.MachineId ORDER BY MntTransactionDetail.TrxTo DESC)
	ELSE
		SELECT TOP 1 WITH TIES
				MntMachine.MachineId,
				RTRIM(MntMachine.MachineName) AS MachineName,
				MntMachine.MachineStatusId,
				MntMachine.AreaId,
				MntMachine.IsActive,
				MntTransactionDetail.TrxTo
		FROM MntMachine LEFT OUTER JOIN MntTransactionHeader
		ON MntMachine.MachineId = MntTransactionHeader.MachineId INNER JOIN MntTransactionDetail
		ON MntTransactionHeader.TrxId = MntTransactionDetail.TrxId
		WHERE MntMachine.MachineId = @MachineId
		ORDER BY ROW_NUMBER() OVER (PARTITION BY MntMachine.MachineId ORDER BY MntTransactionDetail.TrxTo DESC)

END
GO
/****** Object:  StoredProcedure [dbo].[RedMntMachineStatus]    Script Date: 03/02/2021 1:35:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RedMntMachineStatus]
	@MachineStatusId int = NULL
AS
BEGIN
SET NOCOUNT ON;

	IF @MachineStatusId IS NULL
		SELECT MachineStatusId,
			   RTRIM(MachineStatusName) AS MachineStatusName
		FROM MntMachineStatus
	ELSE
		SELECT MachineStatusId,
			   RTRIM(MachineStatusName) AS MachineStatusName
		FROM MntMachineStatus
		WHERE MachineStatusId <> @MachineStatusId
	END

GO
/****** Object:  StoredProcedure [dbo].[RedMntTransactionDetailLastDetailByMachineId]    Script Date: 03/02/2021 1:35:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RedMntTransactionDetailLastDetailByMachineId]
	@MachineId int
AS
BEGIN
SET NOCOUNT ON;

	SELECT TOP 1 MntTransactionDetail.*
	FROM MntTransactionDetail INNER JOIN MntTransactionHeader
	ON MntTransactionDetail.TrxId = MntTransactionHeader.TrxId
	WHERE MntTransactionHeader.MachineId = @MachineId
	ORDER BY MntTransactionDetail.TrxTo DESC

END
GO
/****** Object:  StoredProcedure [dbo].[RedMntTransactionHeaderByTrxId]    Script Date: 03/02/2021 1:35:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RedMntTransactionHeaderByTrxId]
	@TrxId int = NULL
AS
BEGIN
SET NOCOUNT ON;

IF @TrxId IS NULL
	SELECT 
		MntTransactionHeader.TrxId,
		MntTransactionHeader.TrxDate,
		MntTransactionHeader.AreaId,
		RTRIM(SecUser.Nickname) AS Nickname,
		MntTransactionHeader.ShiftId,
		RTRIM(MntMachine.MachineName) AS MachineName,
		MntTransactionHeader.DatetimeStarted,
		MntTransactionHeader.DatetimeEnded,
		(CASE WHEN MntTransactionHeader. MachineId IS NULL THEN RTRIM(MntTransactionHeader.ActionTaken)
			  ELSE (SELECT RTRIM(MachineStatusName) FROM MntMachineStatus WHERE MachineStatusId =  MntTransactionHeader.DowntimeMachineStatusId)END) AS Activity,
		MntTransactionHeader.TotalAccumulatedDowntime,
		MntTransactionHeader.TrxStatusId,
		RTRIM(GenTransactionStatus.TrxStatusName) AS TrxStatusName,
		MntTransactionHeader.SeniorManagerIsApproved,
		MntTransactionHeader.SeniorEngineerIsApproved,
		MntTransactionHeader.EncodeUserId,
		MntTransactionHeader.RoutingStatusId,
		MntTransactionHeader.LockId
	FROM MntTransactionHeader LEFT OUTER JOIN MntMachine
	ON MntTransactionHeader.MachineId = MntMachine.MachineId LEFT OUTER JOIN MntMachineStatus
	ON MntMachine.MachineStatusId = MntMachineStatus.MachineStatusId INNER JOIN SecUser
	ON MntTransactionHeader.UserId = SecUser.UserId INNER JOIN GenTransactionStatus
	ON MntTransactionHeader.TrxStatusId = GenTransactionStatus.TrxStatusId

ELSE
	SELECT 
		MntTransactionHeader.TrxId,
		MntTransactionHeader.TrxDate,
		MntTransactionHeader.AreaId,
		RTRIM(SecUser.Nickname) AS Nickname,
		MntTransactionHeader.ShiftId,
		RTRIM(MntMachine.MachineName) AS MachineName,
		MntTransactionHeader.DatetimeStarted,
		MntTransactionHeader.DatetimeEnded,
		(CASE WHEN MntTransactionHeader. MachineId IS NULL THEN RTRIM(MntTransactionHeader.ActionTaken)
			  ELSE (SELECT RTRIM(MachineStatusName) FROM MntMachineStatus WHERE MachineStatusId =  MntTransactionHeader.DowntimeMachineStatusId)END) AS Activity,
		MntTransactionHeader.TotalAccumulatedDowntime,
		MntTransactionHeader.TrxStatusId,
		RTRIM(GenTransactionStatus.TrxStatusName) AS TrxStatusName,
		MntTransactionHeader.SeniorManagerIsApproved,
		MntTransactionHeader.SeniorEngineerIsApproved,
		MntTransactionHeader.EncodeUserId,
		MntTransactionHeader.RoutingStatusId,
		MntTransactionHeader.LockId
	FROM MntTransactionHeader LEFT OUTER JOIN MntMachine
	ON MntTransactionHeader.MachineId = MntMachine.MachineId LEFT OUTER JOIN MntMachineStatus
	ON MntMachine.MachineStatusId = MntMachineStatus.MachineStatusId INNER JOIN SecUser
	ON MntTransactionHeader.UserId = SecUser.UserId INNER JOIN GenTransactionStatus
	ON MntTransactionHeader.TrxStatusId = GenTransactionStatus.TrxStatusId
	WHERE MntTransactionHeader.TrxId = @TrxId

END
GO
/****** Object:  StoredProcedure [dbo].[RedMntTransactionHeaderLastDetail]    Script Date: 03/02/2021 1:35:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RedMntTransactionHeaderLastDetail]
	@MachineId int = NULL
AS
BEGIN
SET NOCOUNT ON;

	IF @MachineId IS NULL
		SELECT TOP 1 WITH TIES
			   MntTransactionHeader.TrxId,
			   MntTransactionHeader.MachineId,
			   MntTransactionHeader.AreaId,
			   MntTransactionHeader.DatetimeStarted,
			   MntTransactionDetail.TrxDate,
			   MntTransactionDetail.TrxTo,
			   MntTransactionDetail.UserId,
			   MntTransactionDetail.ShiftId,
			   MntTransactionHeader.SeniorManagerIsApproved,
			   MntTransactionHeader.SeniorEngineerIsApproved,
			   MntTransactionHeader.EncodeUserId,
			   MntTransactionHeader.TrxStatusId,
			   MntTransactionHeader.RoutingStatusId,
			   (CASE WHEN MntTransactionHeader.MachineId IS NULL THEN ISNULL(RTRIM(MntTransactionHeader.ActionTaken), NULL)
					 ELSE (SELECT ISNULL(RTRIM(MachineStatusName), NULL) FROM MntMachineStatus WHERE MachineStatusId = MntTransactionHeader.DowntimeMachineStatusId)
				END) AS Activity
		FROM MntTransactionHeader INNER JOIN MntTransactionDetail
		ON MntTransactionHeader.TrxId = MntTransactionDetail.TrxId
		ORDER BY ROW_NUMBER() OVER (PARTITION BY MntTransactionHeader.TrxId ORDER BY MntTransactionDetail.TrxTo DESC)
	ELSE
		SELECT TOP 1 WITH TIES
			   MntTransactionHeader.TrxId,
			   MntTransactionHeader.MachineId,
			   MntTransactionHeader.AreaId,
			   MntTransactionHeader.DatetimeStarted,
			   MntTransactionDetail.TrxDate,
			   MntTransactionDetail.TrxTo,
			   MntTransactionDetail.UserId,
			   MntTransactionDetail.ShiftId,
			   MntTransactionHeader.SeniorManagerIsApproved,
			   MntTransactionHeader.SeniorEngineerIsApproved,
			   MntTransactionHeader.EncodeUserId,
			   MntTransactionHeader.TrxStatusId,
			   MntTransactionHeader.RoutingStatusId,
			   (CASE WHEN MntTransactionHeader.MachineId IS NULL THEN ISNULL(RTRIM(MntTransactionHeader.ActionTaken), NULL)
					 ELSE (SELECT ISNULL(RTRIM(MachineStatusName), NULL) FROM MntMachineStatus WHERE MachineStatusId = MntTransactionHeader.DowntimeMachineStatusId)
				END) AS Activity
		FROM MntTransactionHeader INNER JOIN MntTransactionDetail
		ON MntTransactionHeader.TrxId = MntTransactionDetail.TrxId
		WHERE MntTransactionHeader.MachineId = @MachineId
		ORDER BY ROW_NUMBER() OVER (PARTITION BY MntTransactionHeader.TrxId ORDER BY MntTransactionDetail.TrxTo DESC)

END
GO
/****** Object:  StoredProcedure [dbo].[RedMntTransactionHeaderPaged]    Script Date: 03/02/2021 1:35:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RedMntTransactionHeaderPaged]
	   @PageIndex INT = 1,
	   @PageSize INT = 10,
	   @RecordCount INT OUTPUT

AS
BEGIN
SET NOCOUNT ON;

	SELECT ROW_NUMBER() OVER
      (ORDER BY TrxId DESC)AS RowNumber
		  ,[TrxId]
		  ,[TrxDate]
		  ,[MachineId]
		  ,[AreaId]
		  ,[TotalAccumulatedRuntime]
		  ,[DatetimeStarted]
		  ,[DowntimeMachineStatusId]
		  ,[DatetimeEnded]
		  ,[TotalAccumulatedDowntime]
		  ,[Problem]
		  ,[ActionTaken]
		  ,[Image]
		  ,[ImageName]
		  ,[FileAttachment]
		  ,[FileName]
		  ,[JoNumber]
		  ,[JoRequestor]
		  ,[SeniorManagerIsApproved]
		  ,[SeniorManagerApprovalDate]
		  ,[SeniorManagerId]
		  ,[SeniorManagerRemarks]
		  ,[SeniorEngineerIsApproved]
		  ,[SeniorEngineerApprovalDate]
		  ,[SeniorEngineerId]
		  ,[SeniorEngineerRemarks]
		  ,[UserId]
		  ,[ShiftId]
		  ,[EncodeUserId]
		  ,[TrxStatusId]
		  ,[RoutingStatusId]
		  ,[LockId]
       INTO #Results
      FROM MntTransactionHeader

	  SELECT @RecordCount = COUNT(*)
      FROM #Results
         
      SELECT 
			[TrxId]
		  ,[TrxDate]
		  ,[MachineId]
		  ,[AreaId]
		  ,[TotalAccumulatedRuntime]
		  ,[DatetimeStarted]
		  ,[DowntimeMachineStatusId]
		  ,[DatetimeEnded]
		  ,[TotalAccumulatedDowntime]
		  ,[Problem]
		  ,[ActionTaken]
		  ,[Image]
		  ,[ImageName]
		  ,[FileAttachment]
		  ,[FileName]
		  ,[JoNumber]
		  ,[JoRequestor]
		  ,[SeniorManagerIsApproved]
		  ,[SeniorManagerApprovalDate]
		  ,[SeniorManagerId]
		  ,[SeniorManagerRemarks]
		  ,[SeniorEngineerIsApproved]
		  ,[SeniorEngineerApprovalDate]
		  ,[SeniorEngineerId]
		  ,[SeniorEngineerRemarks]
		  ,[UserId]
		  ,[ShiftId]
		  ,[EncodeUserId]
		  ,[TrxStatusId]
		  ,[RoutingStatusId]
		  ,[LockId] 
      FROM #Results
      WHERE RowNumber BETWEEN(@PageIndex -1) * @PageSize + 1 AND(((@PageIndex -1) * @PageSize + 1) + @PageSize) - 1
	  ORDER BY #Results.TrxId DESC
   
      DROP TABLE #Results
END
GO
/****** Object:  StoredProcedure [dbo].[RedMntTransactionUserByTrxId]    Script Date: 03/02/2021 1:35:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RedMntTransactionUserByTrxId]
	@TrxId int
AS
BEGIN
	SELECT TrxUserId,
		   TrxId,
		   UserId
	FROM MntTransactionUser
	WHERE TrxId = @TrxId
END
GO
/****** Object:  StoredProcedure [dbo].[RedSecUserByEmployeeId]    Script Date: 03/02/2021 1:35:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RedSecUserByEmployeeId]
	@EmployeeId char(8) = NULL
AS
BEGIN
SET NOCOUNT ON;

IF @EmployeeId IS NULL
	SELECT 
		SecUser.UserId,
		RTRIM(SecUser.EmployeeId) AS EmployeeId,
		RTRIM(SecUser.UserName) AS UserName,
		RTRIM(SecUser.Nickname) AS NickName,
		RTRIM(SecUser.UserItem) AS UserItem,
		SecUser.IsAdmin,
		SecUser.WorkgroupId,
		RTRIM(SecWorkgroup.WorkgroupName) AS WorkgroupName,
		SecWorkgroup.IsActive AS WorkgroupIsActive,
		SecWorkgroup.SectionId,
		RTRIM(SecSection.SectionName) AS SectionName,
		SecSection.IsActive AS SectionIsActive,
		SecWorkgroup.AreaId,
		RTRIM(MntArea.AreaName) AS AreaName,
		SecSection.DepartmentId,
		RTRIM(SecDepartment.ShortName) AS DepartmentShortName,
		RTRIM(SecDepartment.DepartmentName) AS DepartmentName
	FROM SecUser INNER JOIN SecWorkgroup
	ON SecUser.WorkgroupId = SecWorkgroup.WorkgroupId INNER JOIN SecSection
	ON SecWorkgroup.SectionId = SecSection.SectionId INNER JOIN SecDepartment
	ON SecSection.DepartmentId = SecDepartment.DepartmentId LEFT OUTER JOIN MntArea
	ON SecWorkgroup.AreaId = MntArea.AreaId

ELSE
	SELECT 
		SecUser.UserId,
		RTRIM(SecUser.EmployeeId) AS EmployeeId,
		RTRIM(SecUser.UserName) AS UserName,
		RTRIM(SecUser.Nickname) AS NickName,
		RTRIM(SecUser.UserItem) AS UserItem,
		SecUser.IsAdmin,
		SecUser.WorkgroupId,
		RTRIM(SecWorkgroup.WorkgroupName) AS WorkgroupName,
		SecWorkgroup.IsActive AS WorkgroupIsActive,
		SecWorkgroup.SectionId,
		RTRIM(SecSection.SectionName) AS SectionName,
		SecSection.IsActive AS SectionIsActive,
		SecWorkgroup.AreaId,
		RTRIM(MntArea.AreaName) AS AreaName,
		SecSection.DepartmentId,
		RTRIM(SecDepartment.ShortName) AS DepartmentShortName,
		RTRIM(SecDepartment.DepartmentName) AS DepartmentName
	FROM SecUser INNER JOIN SecWorkgroup
	ON SecUser.WorkgroupId = SecWorkgroup.WorkgroupId INNER JOIN SecSection
	ON SecWorkgroup.SectionId = SecSection.SectionId INNER JOIN SecDepartment
	ON SecSection.DepartmentId = SecDepartment.DepartmentId LEFT OUTER JOIN MntArea
	ON SecWorkgroup.AreaId = MntArea.AreaId
	WHERE SecUser.EmployeeId = @EmployeeId

END
GO
/****** Object:  StoredProcedure [dbo].[RedSecUserBySectionId]    Script Date: 03/02/2021 1:35:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RedSecUserBySectionId]
	@SectionId int,
	@ExcludedWorkgroupId int = NULL
AS
BEGIN
SET NOCOUNT ON;

	IF @ExcludedWorkgroupId IS NULL
		SELECT
			   SecUser.UserId,
			   RTRIM(SecUser.EmployeeId) AS EmployeeId,
			   RTRIM(SecUser.UserName) AS UserName,
			   RTRIM(SecUser.Nickname) AS Nickname,
			   RTRIM(SecUser.UserItem) AS UserItem,
			   SecWorkgroup.WorkgroupId,
			   RTRIM(SecWorkgroup.WorkgroupName) AS WorkgroupName,
			   SecSection.SectionId,
			   RTRIM(SecSection.SectionName) AS SectionName
		FROM SecUser INNER JOIN SecWorkgroup
		ON SecUser.WorkgroupId = SecWorkgroup.WorkgroupId INNER JOIN SecSection
		ON SecWorkgroup.SectionId = SecSection.SectionId
		WHERE SecSection.SectionId = @SectionId
	ELSE
		IF @ExcludedWorkgroupId = 7
			SELECT
				   SecUser.UserId,
				   RTRIM(SecUser.EmployeeId) AS EmployeeId,
				   RTRIM(SecUser.UserName) AS UserName,
				   RTRIM(SecUser.Nickname) AS Nickname,
				   RTRIM(SecUser.UserItem) AS UserItem,
				   SecWorkgroup.WorkgroupId,
				   RTRIM(SecWorkgroup.WorkgroupName) AS WorkgroupName,
				   SecSection.SectionId,
				   RTRIM(SecSection.SectionName) AS SectionName
			FROM SecUser INNER JOIN SecWorkgroup
			ON SecUser.WorkgroupId = SecWorkgroup.WorkgroupId INNER JOIN SecSection
			ON SecWorkgroup.SectionId = SecSection.SectionId
			WHERE SecSection.SectionId = @SectionId AND
				  --senior engineer, engineer and ojt
				  SecWorkgroup.WorkgroupId NOT IN (7,8,27)
		ELSE IF @ExcludedWorkgroupId = 99
			SELECT
				   SecUser.UserId,
				   RTRIM(SecUser.EmployeeId) AS EmployeeId,
				   RTRIM(SecUser.UserName) AS UserName,
				   RTRIM(SecUser.Nickname) AS Nickname,
				   RTRIM(SecUser.UserItem) AS UserItem,
				   SecWorkgroup.WorkgroupId,
				   RTRIM(SecWorkgroup.WorkgroupName) AS WorkgroupName,
				   SecSection.SectionId,
				   RTRIM(SecSection.SectionName) AS SectionName
			FROM SecUser INNER JOIN SecWorkgroup
			ON SecUser.WorkgroupId = SecWorkgroup.WorkgroupId INNER JOIN SecSection
			ON SecWorkgroup.SectionId = SecSection.SectionId
			WHERE SecSection.SectionId = @SectionId AND
				  --include ojt
				  SecWorkgroup.WorkgroupId NOT IN (7,8)
		ELSE
			SELECT
				   SecUser.UserId,
				   RTRIM(SecUser.EmployeeId) AS EmployeeId,
				   RTRIM(SecUser.UserName) AS UserName,
				   RTRIM(SecUser.Nickname) AS Nickname,
				   RTRIM(SecUser.UserItem) AS UserItem,
				   SecWorkgroup.WorkgroupId,
				   RTRIM(SecWorkgroup.WorkgroupName) AS WorkgroupName,
				   SecSection.SectionId,
				   RTRIM(SecSection.SectionName) AS SectionName
			FROM SecUser INNER JOIN SecWorkgroup
			ON SecUser.WorkgroupId = SecWorkgroup.WorkgroupId INNER JOIN SecSection
			ON SecWorkgroup.SectionId = SecSection.SectionId
			WHERE SecSection.SectionId = @SectionId AND
				  SecWorkgroup.WorkgroupId <> @ExcludedWorkgroupId
	END
GO
